body{
    background-color: #CAF7E3;
  }
  hr{
    width:5%;
    border-style: none;
    border-top-style: dotted ;
    border-color: rgba(128, 128, 128, 0.463);
    border-width: 5px;
  }
  h1{
      color: #112B3C;
  }
  h3{
      color: #112B3C;
}
